body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 0;
    scroll-behavior: smooth;    
}
.border{
    border: 10px solid;
}
#container{
    background-image: linear-gradient(50deg, white, yellow, red);
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    transition: width 1s, height 1s;
}
#container:hover{
    width: 55%;
    height: 55%;
}
#time{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
#date{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.icon img{
    border: 5px solid ;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    animation-name: borderchanger;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#social{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color:lavender;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 2px;
}
.social1{
    padding-right: 10px;
    padding-bottom: 3px;
}
@keyframes borderchanger {
    0% {border-image: linear-gradient(90deg, white, red) 1;}
    25% {border-image: linear-gradient(180deg, white, red) 1;}
    50% {border-image: linear-gradient(270deg, white, red) 1;}
    100% {border-image: linear-gradient(360deg, white, red) 1;}
}
